<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.esayVan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminAddUser"></activity>
        <activity android:name=".AdminViewSchoolVan" />
        <activity android:name=".AdminUpdateDriver" />
        <activity android:name=".AdminViewDriver" />
        <activity android:name=".AdminDriverAdapter" />
        <activity android:name=".AdminSchoolVanAdapter" />
        <activity android:name=".AdminAddChild" />
        <activity android:name=".DriverProfileUpdate" />
        <activity android:name=".EnterCode" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".DriverProfileUpdate" />
        <activity android:name=".EnterCode" />
        <activity android:name=".AdminUpdateChild" />
        <activity android:name=".AdminViewChild" />
        <activity android:name=".AdminChildAdapter" />
        <activity android:name=".AdminChildren" />
        <activity android:name=".ParentLoginBeforeRequest" />
        <activity android:name=".MoreVanDetails" />
        <activity android:name=".OwnerAccountUpdate" />
        <activity android:name=".AdminUpdateParent" />
        <activity android:name=".AdminViewParent" />
        <activity android:name=".ParentEditDays" />
        <activity android:name=".OwnerVansAdd" />
        <activity android:name=".sample" />
        <activity android:name=".DriverNotification" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".DriverSignUp" />
        <activity android:name=".DriverProfile" />
        <activity android:name=".UserChangePassword" />
        <activity android:name=".AdminViewOwner" />
        <activity android:name=".AdminUpdateOwner" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".OwnerReport" />
        <activity android:name=".AdminNewArticle" />
        <activity android:name=".AdminVerifyDrivers" />
        <activity android:name=".AdminVerifySchoolVans" />
        <activity android:name=".AdminSchoolVans" />
        <activity android:name=".AdminDrivers" />
        <activity android:name=".AdminOwners" />
        <activity android:name=".AdminParents" />
        <activity android:name=".AdminNewsfeed" />
        <activity android:name=".AdminReportGenerator" />
        <activity android:name=".AdminManage" />
        <activity android:name=".AdminVerify" />
        <activity android:name=".Admin" />
        <activity android:name=".OwnerLocation" />
        <activity android:name=".OwnerCalendar" />
        <activity android:name=".OwnerExpenses" />
        <activity android:name=".OwnerVans" />
        <activity android:name=".OwnerDrivers" />
        <activity android:name=".OwnerManage" />
        <activity android:name=".OwnerAccount" />
        <activity android:name=".OwnerRequest" />
        <activity android:name=".OwnerNotification" />
        <activity android:name=".Owner" />
        <activity android:name=".DriverPayment" />
        <activity android:name=".DriverRoute" />
        <activity android:name=".DriverAttendance" />
        <activity android:name=".DriverViewChildDetails" />
        <activity android:name=".DriverChildDetails" />
        <activity android:name=".DriverExpense" />
        <activity android:name=".DriverCalendar" />
        <activity android:name=".DriverAlert" />
        <activity android:name=".Driver" />
        <activity android:name=".Parent" />
        <activity android:name=".ParentLocationFragment" />
        <activity android:name=".ParentCalendarFragment" />
        <activity android:name=".ParentNewsfeedFragment" />
        <activity android:name=".ParentPayFragment" />
        <activity android:name=".ParentAccount" />
        <activity android:name=".ParentDetails" />
        <activity android:name=".ParentEdit" />
        <activity android:name=".ParentDashboard" />
        <activity android:name=".ParentAttendance" />
        <activity android:name=".ParentRequest" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>